.encounter-display {
  overflow-y: auto !important;
  flex-direction: column;
  display: flex;
  border: 5px solid black;
  border-radius: 20px;
  backdrop-filter: blur(8px);
}

.travel-manager {
  justify-content: center;
  height: 92.5vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 5px;
}

.page-body {
  display: grid;
  grid-template-columns: 1fr auto;
  overflow-y: auto;
  height: 72.5vh;
  scrollbar-width: thin;          /* "auto" or "thin" */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.dropdown-menu {
  z-index: 1050 !important;
  /* Ensure dropdown appears above other elements */
}