:root {
  --bs-primary: #6610f2;
  --bs-secondary: #9c27b0;
  --bs-success: #4caf50;
  --bs-info: #00bcd4;
  --bs-warning: #ff9800;
  --bs-danger: #f44336;
  --bs-light: #f8f9fa;
  --bs-dark: #585858;
  --bs-input-group-addon-border-color: #585858;
  --bs-input-border-color: #585858;
}
.input-group > .form-control,
.input-group > .form-select,
.input-group > .form-floating,
.input-group > .input-group-text {
  border-color: var(--bs-input-group-addon-border-color);
}

.App {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.page-container {
    height: 92.5vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Fade in and drop down animation */
.fade-drop-in {
  animation: fadeDropIn 0.6s ease-out forwards;
}

/* Optional: Set initial state for elements that will be animated */
.fade-drop-in-initial {
  opacity: 0;
  transform: translateY(-20px);
}

@keyframes fadeDropIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92.5vh;
  width: 100%;
}